body {
  color: red;
}

div {
  color: rgb(50, 60, 200);
  border: 3px solid black;
}

h2 {
  color: purple;
  font-size: 2rem;
}

.paragraph {
  color: firebrick;
  font-size: 1.2rem;
}

.lower {
  text-transform: lowercase;
}

.upper {
  text-transform: uppercase;
}
